::global {
  transition: background 0.5 ease;
}

.container {
  width: 180px;
  display: flex;
  flex-direction: column;
  margin: 30px;
  border-right: 1px solid #ccc;
  z-index: 1;
}

.menu {
  padding: 40px 0;
  flex: 1;
  margin-right: 40px;
}

.menuItem {
  cursor: pointer;
  width: auto;
  padding: 6px 20px;
  margin-top: 10px;
  font-size: 16px;
  transition: background 0.25s ease;

  &:hover {
    background: rgba(121, 188, 222, 0.5);
    border-radius: 3px;
    color: #111;
  }
}

.footer {
  height: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  svg {
    cursor: pointer;
  }
}
