.header {
  padding-left: 20px;
  height: 60px;
  background: #2e343a;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.logo {
  padding: 0 10px;
  img {
    width: 30px;
    height: 30px;
  }
}

.title {
  color: white;
  cursor: pointer;
  flex: 4;
  font-size: 18px;
}

.menuTabs {
  width: 250px;
  font-size: 12px;
}

@media only screen and (max-width: 470px) {
  .title {
    display: none;
  }
}
