.container {
  padding: 30px 60px;
  line-height: 24px;
  font-size: 12px;
  padding-bottom: 60px;
  animation: fade 0.5s forwards;
}

@keyframes fade {
    from { opacity: 0;}
    to { opacity: 1; }
}
